[Db]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]ld/
*.user
*.userosscache
*.sln.docstates
.suo
.vs/
_ReSharper/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.ionide/
.idea/
*.sln.iml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
appsettings.Development.json
usersecrets.json
*.pem
*.key
*.pfx
*.log
.logs/